.carouselContainer {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
}

.carouselImg{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display:block;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
}