.primary_btn {
    padding: 10px 18px;
    height: 44px;
    width: 222px;
    background-color: #000000;
    color: white;
    min-width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
    cursor:pointer;
}

.outline_btn {
    padding: 10px 18px;
    height: 44px;
    width: 220px;
    background-color: white;
    color: black;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
    width: 100%;
    cursor:pointer;
}