
.btn{
    background-color: hsl(120, 100%, 25%);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s;
}

.btn:active {
    background-color: hsl(120, 96%, 20%);
    transform: scale(0.90);
}